<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VS" value="https://jackeeed.pkgs.visualstudio.com/_packaging/TestUWPFeed/nuget/v2" />
  </packageSources>
  <packageSourceCredentials>
    <VS>
      <add key="Username" value="%FEED_USERNAME%" />
      <add key="ClearTextPassword" value="%FEED_PASSWORD%" />
    </VS>
  </packageSourceCredentials>
</configuration>